.titulo{color: $Titucolor;
       font-family: $Fuentetitulo;
       font-size: $Titusize; 
       font-weight: $Estilotitulo;
       text-align: $Ubicaciontitulo;
       background-image: url(https://i.pinimg.com/originals/9e/6e/3d/9e6e3d27cd762b6a9956b08a7b1a1944.jpg);
       background-size: 200px; background-position: center;
}