.container{
          h2{color: $Letraprincipal;
             font-family: $Fuentemainyfooter;
            text-align: center;}}

 @mixin tablas {

    .titulostabla{
                 color:$Colortitulostabla;
                 text-align: center;}
    .contenidotabla{
                 color: $Colorletratabla;
                 text-align: center;}

   .tabla1{
    @include tablas
}

.tabla2{
    @include tablas

}

.tabla3{
    @include tablas

}


}