$colorfondo: black;
$Letraprincipal: rgb(241, 186, 3);
$Fuentetitulo:'Times New Roman', Times, serif;
$Fuentemainyfooter: Arial, Helvetica, sans-serif;
$Letrahover: white;
$colorfondohover: black;
$Colortitulostabla: rgb(182, 197, 93);
$Colorletratabla:white;
$Ubicaciontitulo: center;
$Estilotitulo: bold;
$Titusize: 6rem;
$Titucolor: white;


